<!DOCTYPE html>
<html>
  <head>
    <title>.CSV Practice</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type =>  'image/png' %>
  </head>

  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4 text-danger">Sample .csv practice</h1>
        <p class="lead text-secondary">Wednesday, April 11, 2018</p>
      </div>
    </div>
    <div class="container-fluid">
      <%= yield %>
    </main>
  </div>
</html>
